---
- name: Configure VLANs and trunk on Switch1
  hosts: switches
  connection: network_cli
  gather_facts: no

  vars:
    # VLANs that match your addressing plan
    vlans:
      - { id: 10, name: Management }
      - { id: 20, name: Data }
      - { id: 30, name: Voice }

    # Port from Switch1 toward Router1 that should carry all VLANs
    trunk_interfaces:
      - GigabitEthernet1/0/1

    # Access ports for end devices (PCs) on the Data VLAN
    access_ports:
      - { interface: GigabitEthernet1/0/3, vlan: 20 }
      # add another entry here if you plug PC2 into a different port

  tasks:

    - name: Create VLANs on Switch1
      ios_config:
        parents: "vlan {{ item.id }}"
        lines:
          - "name {{ item.name }}"
      loop: "{{ vlans }}"

    - name: Configure trunk port(s) toward router
      ios_config:
        parents: "interface {{ item }}"
        lines:
          - "switchport"
          - "switchport mode trunk"
          - "switchport trunk allowed vlan {{ vlans | map(attribute='id') | join(',') }}"
          - "no shutdown"
      loop: "{{ trunk_interfaces }}"

    - name: Configure access ports for end devices
      ios_config:
        parents: "interface {{ item.interface }}"
        lines:
          - "switchport"
          - "switchport mode access"
          - "switchport access vlan {{ item.vlan }}"
          - "no shutdown"
        match: none
      loop: "{{ access_ports }}"

